
@model IEnumerable<PanPanBakery.Models.CakeBookings>

@{
    ViewData["Title"] = "DisplayCakes";
}

<h1>Cakes</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.CakeName)</h5>
                    <p class="card-text">Price: @Html.DisplayFor(modelItem => item.price)</p>
                    <a asp-action="Details" asp-route-id="@item.Id"class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>

     
    }
</div>
